<h2>My Vacay</h2>
<div>
  <label>Naam:</label> <input #vacationName />
  <button (click)="add(vacationName.value); vacationName.value=''">
    Add
  </button>
</div>

<ul class="vacations">
  <li *ngFor="let vacation of vacations"
    [class.selected]="vacation === selectedVacation"
    (click)="onSelect(vacation)">
    <span class="badge">{{vacation.id}}</span> {{vacation.name}}
    <button class="delete"
      (click)="delete(vacation); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedVacation">
  <h2>
    {{selectedVacation.name}} is je uitgekozen vakantie!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>