<div *ngIf="vacation">
  <h2>Details van {{vacation.name}}!</h2>
  <div>
  	<label>id: </label>{{vacation.id}}
  </div>
  <div>
    <label>Naam: </label>
    <input [(ngModel)]="vacation.name" placeholder="naam"/>
  </div>
  <div>
    <label>Reden: </label>
    <input [(ngModel)]="vacation.reason" placeholder="reden"/>
  </div>
  <div>
    <label>Nadeel: </label>
    <input [(ngModel)]="vacation.disadvantage" placeholder="nadeel"/>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>